# node artifact files
node_modules/
dist/
build/

#environment variable
.env

# Log files
/logs
*.log

# coverage
/coverage

# editor settings
.vscode

id_rsa_priv.pem
id_rsa_pub.pem

## documentation
documentation

prebuild